/* body{background-image: linear-gradient(red, orange, yellow, green, blue, indigo, violet);
} */
body{
    background: "#ffffff"
}
footer{color: indigo;}
#bodytext{color:indigo}
#holes{display: grid;
grid-template-columns: repeat(4, 1fr) ;
justify-items: center;
grid-gap: 50px;
cursor: none;
}
#hole{
    background-color:black;
    width: 150px;
    height: 150px;
    justify-content: center;
    border-radius: 50%;
    
}
.mole{
    position: absolute;
    z-index: 1;
    width: 130px;
    height: 130px;
    margin: auto;
}
.whac{position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 1;
    width: 130px;
}
#gameOver{
    display: none;
}
marquee h1{
    color: indigo;
}

@media screen and (max-width: 900px) {
    #holes{
        grid-template-columns: repeat(2, 0.5fr) ;
        grid-gap: 25px;
    }  
    #hole{
        width: 80px;
        height: 80px;  
    }
    .mole{
        width: 60px;
        height: 60px;
    }
    .whac{
        height: 60px;
        width: 80px;
    }
    
}

